$colors: (primary: #333, secondary: #555, important: red);
$border-opt: (border-active: false, border-theme: 'material', border-level: 1); // if border, false -> flat border theme
$text-colors: (headerText:#a8a6a6 , paraText: #888, anchorText: #ccc);
