.navi-primary {
  background: #592f0d;
  color: #cd6c1e; }
  .navi-primary .form-inline input {
    background: #351c08; }
    .navi-primary .form-inline input:focus {
      background: #120903; }
  .navi-primary .form-inline button {
    background: #3e2109;
    color: #b25e1a; }

.navi-secondary {
  background: #ffe5d1;
  color: white; }
  .navi-secondary .form-inline input {
    background: #99897d; }
    .navi-secondary .form-inline input:focus {
      background: #332e2a; }
  .navi-secondary .form-inline button {
    background: #b3a092;
    color: white; }

.navi-important {
  background: red;
  color: red; }
  .navi-important .form-inline input {
    background: #990000; }
    .navi-important .form-inline input:focus {
      background: #330000; }
  .navi-important .form-inline button {
    background: #b30000;
    color: red; }

.card-bgc-primary {
  border: 0;
  background: #592f0d; }
  .card-bgc-primary .list-group-flush {
    background: #47260a; }
  .card-bgc-primary .list-g-teacher {
    background: #4e290b; }
  .card-bgc-primary .bgc-primary {
    background-color: #592f0d; }
  .card-bgc-primary .butt-bg {
    background: #3e2109;
    color: #743d11; }
  .card-bgc-primary .list-g-compo {
    background: #592f0d; }
    .card-bgc-primary .list-g-compo:hover {
      background: #502a0c; }
  .card-bgc-primary .card-header {
    background: #47260a;
    color: #743d11; }
  .card-bgc-primary select, .card-bgc-primary span {
    color: #2d1807; }
  .card-bgc-primary input {
    border: 1px solid #552d0c;
    color: #a05517;
    background: #562e0d; }
    .card-bgc-primary input:focus {
      background: #4f2a0c;
      color: #a05517; }

.card-bgc-secondary {
  border: 0;
  background: #ffe5d1; }
  .card-bgc-secondary .list-group-flush {
    background: #ccb7a7; }
  .card-bgc-secondary .list-g-teacher {
    background: #e0cab8; }
  .card-bgc-secondary .bgc-secondary {
    background-color: #ffe5d1; }
  .card-bgc-secondary .butt-bg {
    background: #b3a092;
    color: white; }
  .card-bgc-secondary .list-g-compo {
    background: #ffe5d1; }
    .card-bgc-secondary .list-g-compo:hover {
      background: #e6cebc; }
  .card-bgc-secondary .card-header {
    background: #ccb7a7;
    color: white; }
  .card-bgc-secondary select, .card-bgc-secondary span {
    color: #807369; }
  .card-bgc-secondary input {
    border: 1px solid #f2dac7;
    color: white;
    background: #f7decb; }
    .card-bgc-secondary input:focus {
      background: #e3ccba;
      color: white; }

.card-bgc-important {
  border: 0;
  background: red; }
  .card-bgc-important .list-group-flush {
    background: #cc0000; }
  .card-bgc-important .list-g-teacher {
    background: #e00000; }
  .card-bgc-important .bgc-important {
    background-color: red; }
  .card-bgc-important .butt-bg {
    background: #b30000;
    color: red; }
  .card-bgc-important .list-g-compo {
    background: red; }
    .card-bgc-important .list-g-compo:hover {
      background: #e60000; }
  .card-bgc-important .card-header {
    background: #cc0000;
    color: red; }
  .card-bgc-important select, .card-bgc-important span {
    color: maroon; }
  .card-bgc-important input {
    border: 1px solid #f20000;
    color: red;
    background: #f70000; }
    .card-bgc-important input:focus {
      background: #e30000;
      color: red; }

.pagi-bg {
  border: 1px solid #d9c3b2;
  background-color: #f7decb;
  color: #444; }

.buttons-primary {
  background: #592f0d; }

.buttons-secondary {
  background: #ffe5d1; }

.buttons-important {
  background: red; }

body {
  background: #e0cab8; }

.main {
  border: 0;
  background: #ffe5d1; }

.navbar a.nav-link {
  mix-blend-mode: exclusion; }
  .navbar a.nav-link:hover {
    color: gray; }

h1, h2, h3, h4, h5, h6 {
  color: #333; }

p, b, li, span.card-msg {
  color: #444; }

a {
  color: #666; }
  a:hover {
    color: #333333; }

.carousel-inner h3 {
  color: white; }
.carousel-inner p {
  color: #ebebeb; }

footer h3 {
  color: #b8b8b8; }
footer p {
  color: #666666; }

/*# sourceMappingURL=theme-func.css.map */
